# node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log*

# build / output
dist/
.build/
out/
.cache/
.next/
.next/*
build/
coverage/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# logs
logs/
*.log

# lockfiles (opcional)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# TypeScript
*.tsbuildinfo

# Docker
docker-compose.override.yml
